* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;

  /* Primary Color : 60% */
  --primary--color--white: #ffffff;
  --primary--color--retro: #f6f5e4;
  --primary--color--orange: #f2a01f;
  /* Secondary Color : 30% */
  --secondary--color--green: #164a53;
  /* Accent Color : 10% */
  --accent--color--red: #f05023;
  --accent--color--blue: #3ebdd8;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}

a {
  list-style: none;
  text-decoration: none;
}
