* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;

  /* Primary Color : 60% */
  --primary--color--white: #ffffff;
  --primary--color--retro: #f6f5e4;
  --primary--color--orange: #080808;

  /* Secondary Color : 30% */
  --secondary--color--green: #164a53;

  /* Accent Color : 10% */
  --accent--color--red: #f05023;
  --accent--color--blue: #3ebdd8;

  /* Transition */
  --transition: all 800ms ease;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--secondary--color--green);
  background: var(--primary--color--retro);
  max-width: 100vw;
}

.container {
  width: 94%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  line-height: 1.8;
}

img {
  width: 100%;
}

section {
  padding: 10rem 0 7rem;
  max-width: 100vw;
  overflow-x: hidden;
}

section h1 {
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

.btn {
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 2rem 0;
  color: var(--secondary--color--green);
  background-color: var(--primary--color--retro);
  transition: var(--transition);
}

.btn-primary {
  background: var(--primary--color--orange);
  color: var(--primary--color--white);
}

/* NAV */
nav {
  background-color: var(--primary--color--orange);
  border-bottom: 2px dotted var(--secondary--color--green);
  display: flex;
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

nav .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

nav .container ul {
  display: flex;
  height: 100%;
}

nav .container ul li a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--primary--color--white);
  width: 8rem;
  transition: var(--transition);
}

nav .container ul li a:hover {
  color: var(--accent--color--blue);
}

nav .container ul li a.active {
  background-color: var(--primary--color--retro);
  color: var(--primary--color--orange);
}

nav button {
  display: none;
}

nav h3 {
  color: var(--primary--color--white);
}

/* Main */
section.main {
  display: grid;
  position: relative;
  place-items: center;
  top: 5rem;
  padding-bottom: 14rem;
}

section.main .container {
  display: grid;
  grid-template-columns: auto 30rem;
  gap: 3rem;
}

section.main .intro h1 {
  text-align: left;
  margin: 0;
}

section.main .intro h3 {
  margin: 2.5rem 0 1rem;
}

section.main .intro p {
  width: 35rem;
}

section.main .pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main .pic-container .pic {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 10%;
  overflow: hidden;
}

/* ABOUT */
section.about {
  background: var(--primary--color--white);
}

section.about .container {
  display: grid;
  grid-template-columns: 26rem auto;
  gap: 5rem;
}

section.about p {
  margin-bottom: 1rem;
}

section.about .container .more-info {
  display: none;
}

section.about .container .more-info.show-content {
  display: block;
}

section.about .container .read-more {
  display: block;
  margin: 1rem 0 2rem;
  color: var(--secondary--color--green);
  cursor: pointer;
}

section.about .container .read-more:hover {
  text-decoration: underline;
}

/* PROJECTS */
section.projects .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

section.projects .container a {
  display: block;
}

section.projects .container .project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  cursor: default;
  padding: 3rem 2rem;
  text-align: center;
  background: white;
  transition: var(--transition);
  height: 100%;
}

section.projects .container .project:hover {
  box-shadow: 0 2rem 2rem var(--secondary--color--green);
  cursor: pointer;
}

section.projects .container .project img {
  width: 15rem;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent--color--blue);
}

/* CONTACT */
section.contact {
  padding: 0;
  max-width: 100vw;
  background: url(https://wallpaperaccess.com/full/1745604.jpg) no-repeat center
    center/cover;
}

section.contact .background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 10rem 0 7rem;
}

section.contact .container {
  width: 40%;
}

section.contact .container h1 {
  margin: 0;
  color: var(--primary--color--white);
}

section.contact .container p {
  text-align: center;
  margin-top: 0.5rem;
  color: var(--primary--color--white);
  opacity: 0.9;
}

section.contact form {
  margin-top: 3rem;
}

section.contact form label {
  color: var(--white);
}

section.contact form input,
section.contact form textarea {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.6rem;
  border: 1px solid var(--primary--color--retro);
  background: transparent;
  color: var(--primary--color--white);
}

section.contact form textarea {
  height: 10rem;
}

section.contact form input:focus,
section.contact form textarea:focus {
  background-color: var(--primary--color--retro);
  color: var(--secondary--color--green);
}

section.contact form input::placeholder,
section.contact form textarea::placeholder {
  color: var(--primary--color--white);
}

section.contact form .btn {
  width: 14rem;
  border: none;
  background: var(--primary--color--retro);
  color: var(--secondary--color--green);
  margin: 2rem auto 0;
}

section.contact form .btn:hover {
  background: var(--accent--color--blue);
  cursor: pointer;
  color: var(--primary--color--retro);
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
}

footer .copyright {
  background: var(--primary--color--orange);
  color: var(--primary--color--white);
  text-align: center;
  margin-top: 5rem;
  padding: 2rem 0;
  font-size: 0.8rem;
  width: 100%;
}

/* MEDIA QUERIES */

/* PHONE */
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  /* NAV  MEDIA QUERIES*/
  nav {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  }

  nav h3 {
    margin-left: 1rem;
  }

  nav .container {
    width: 100%;
  }

  nav .container ul {
    position: fixed;
    top: 0;
    flex-direction: column;
    z-index: 3;
    width: 16rem;
    height: 100vh;
    background: var(--black);
    display: none;
  }

  nav ul li {
    height: 4.6rem;
    width: 100%;
  }

  nav .container ul li a {
    width: 100%;
    justify-content: start;
    padding-left: 2rem;
  }

  nav .container ul li a:hover {
    padding-left: 3rem;
  }

  nav button {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    color: var(--primary--color--retro);
    margin-right: 1rem;
  }

  nav button#close-btn {
    display: none;
  }

  /* #MAIN / ABOUT  MEDIA QUERIES*/
  section.main {
    margin-top: -4rem;
    padding-bottom: 7rem;
    max-width: 100vw;
    overflow-x: hidden;
    height: 60vh;
  }

  section.main .container {
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50%;
    text-align: center;
    row-gap: 6rem;
  }

  section.main .container .intro {
    width: 90%;
    margin: 0 auto;
  }

  section.main .container .intro h1 {
    text-align: center;
    margin-top: 2rem;
  }

  section.main .container .intro p {
    margin: 0 auto;
    width: 92%;
  }

  section.main .container .pic-container {
    grid-row: 1;
    width: 94%;
    margin: 0 auto;
  }

  section.main .container .pic {
    width: 16rem;
    height: 16rem;
  }

  /* EXPERIENCE MEDIA QUERIES*/
  section.about .container {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  /* PROJECTS MEDIA QUERIES*/
  section.projects .container {
    grid-template-columns: 1fr;
  }

  /* CONTACT MEDIA QUERIES*/
  section.contact .container {
    width: 94vw;
  }

  section.contact .container p {
    width: 80vw;
    margin: 0.5rem auto 0;
  }

  /* FOOTER MEDIA QUERIES*/
  footer .container {
    flex-direction: column;
    gap: 3rem;
  }
}
